<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 80%;
        }
        
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <title>Main Vote Area</title>
</head>
<body align = center>
    <h2><a href="/">Homepage</a></h2>
    <h1> Choose Your Favorite !</h1><br>

    <table align = center>
        <tr> <td colspan="5"> Artist of the Year </td> </tr>
        <tr>    
            <% cat1.forEach(item => { %>
                <td> 
                    <form action="/voting/<%= item.id%>" method="post">
                    <button type="submit"><%= item.Artist.name %></button>
                    </form> 
                </td>
            <% }) %>
        </tr>
        <tr> <td colspan="5"> Best Solo Singer </td></tr>
        <tr>    
            <% cat2.forEach(item => { %>
                <td> 
                    <form action="/voting/<%= item.id %>" method="post">
                    <button type="submit"><%= item.Artist.name %></button>
                    </form> 
                </td>
            <% }) %>
        </tr>

        <tr> <td colspan="5">Best Group</td></tr>
        <tr>    
            <% cat3.forEach(item => { %>
                <td> 
                    <form action="/voting/<%= item.id %>" method="post">
                    <button type="submit"><%= item.Artist.name %></button>
                    </form> 
                </td>
            <% }) %>
        </tr>

        <tr> <td colspan="5">Best Dance Performance</td></tr>
        <tr>    
            <% cat4.forEach(item => { %>
                <td> 
                    <form action="/voting/<%= item.id %>" method="post">
                    <button type="submit"><%= item.Artist.name %></button>
                    </form> 
                </td>
            <% }) %>
        </tr>

        <tr> <td colspan="5">Best New Artist</td></tr>
        <tr>    
            <% cat5.forEach(item => { %>
                <td> 
                    <form action="/voting/<%= item.id %>" method="post">
                    <button type="submit"><%= item.Artist.name %></button>
                    </form> 
                </td>
            <% }) %>
        </tr>
    </table><br>
    
</body>
</html>